

.app{
    background-color: #fafafa;
}

.app__header{
    object-fit: contain;
    background-color: #ffffff;
    border-bottom: 1px solid lightgray;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.app__signup{
    display: flex;
    flex-direction: column;
    
}
.app__headerImage{
    object-fit: contain;
}